<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Mytool.Properties.Settings.ToolLoConnectionString"
   connectionString="Data Source=WS30206\MSSQLSERVER01;Initial Catalog=ToolLo;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>